*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#nav-bar{
    box-shadow: 0px 0px 20px 0px #7F7F7F26;
}
